:root {
    --color-green: #3faf78;
    --color-green-rgb: 63, 175, 120;
    --color-monday: #5899D6;
    /* Blue */
    --color-tuesday: #E06377;
    /* Rose */
    --color-wednesday: #F8B195;
    /* Orange */
    --color-thursday: #9BBFAB;
    /* Green */
    --color-friday: #BA9ADE;
    /* Purple */
    --color-saturday: #F49AC2;
    /* Pink */
    --color-sunday: #F9D74F;
    /* Yellow */
}

.weekly-task-view {
    margin: 1em 0;
    border: 2px solid #ff0000;
    /* Red border to verify CSS is being applied */
    padding: 10px;
}